.venv
.venvs/
.conda/
__pycache__/
unsloth_compiled_cache
.runtime/
gemma-amadeus
trainer_output
models/
.env
dir_script.mpk
data/VNScript/scx_files
data/VNScript/txt_files
wandb/
dir_voice.mpk
node_modules/
.amadeus_env/
.tts_env/
